workflows.yml
HelloWorldWorkflow:
  Comment: 'Returns Hello World'
  StartAt: StartStatus
  States:
    StartStatus:
      Type: Task
      Resource: ${sf2snsStartLambdaFunction.Arn}
      Next: HelloWorld
    HelloWorld:
      CumulusConfig:
        buckets: '{$.meta.buckets}'
        provider: '{$.meta.provider}'
        collection: '{$.meta.collection}'
      Type: Task
      Resource: ${HelloWorldLambdaFunction.Arn}
      Next: StopStatus
    StopStatus:
      Type: Task
      Resource: ${sf2snsEndLambdaFunction.Arn}
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'

DiscoverPdrs:
  Comment: 'Discovers new PDRs from a given provider'
  StartAt: StartStatus
  States:
    StartStatus:
      Type: Task
      Resource: ${sf2snsStartLambdaFunction.Arn}
      Next: DiscoverPdrs
    DiscoverPdrs:
      CumulusConfig:
        templateUri: '{$.meta.templates.ParsePdr}'
        useQueue: true
        queueUrl: '{$.meta.queues.startSF}'
        stack: '{$.meta.stack}'
        provider: '{$.meta.provider}'
        bucket: '{$.meta.buckets.internal}'
        collection: '{$.meta.collection}'
      Type: Task
      Resource: ${DiscoverPdrsLambdaFunction.Arn}
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: StopStatus
    StopStatus:
      Type: Task
      Resource: ${sf2snsEndLambdaFunction.Arn}
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'
